<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--   무슨 오륜지는 모르겠는데 context가 안됨    -->
<!--       <context:component-scan base-pakage="com.spring.Public"/>-->
</beans>